h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

td{
    text-align: center;
    vertical-align: middle;
    opacity: 0.97;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;
}